.main_container{
  height:100%;
  width:100%;

  display: grid;
  grid-template-rows: auto 5fr 6fr;
  grid-template-areas: "heading" "content" "content";
}

.result_container.is-active{
  grid-area: content;
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  grid-template-rows: : repeat( 2, 1fr );
}

.result_container{
  display:none;
}


.heading{
  height: 100%;
  grid-area: heading;
  margin: 0;
}

.inputs.is-active{
  grid-area: content;
  height:100%;
  display: flex;
}


.inputs{
  display:none;
}


.single_result{
  height:100%;
  display: grid;
  grid-template-rows: auto 2fr 4fr;
}

.max_dims{
  height:100%;
  width:100%;
}

.max_height{
  height:100%;
}

.result_table{

}

.result_chart{
  padding:5px;
}

.modal-container{
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

.single_result_modal_content{
  display: grid;
  grid-template-rows: 2fr 4fr;
  height:100%;
}
