html, body{
  height:100%;
  width:100%;
}

canvas{
  cursor: crosshair;
}

.logo{
  background-image: url("../images/BCE_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
